node_modules
dist
dist-ssr
generated
src/generated

.git
.gitignore
.env
.env.*
!.env.example

Dockerfile
.dockerignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.vscode
.idea
.DS_Store
